<!DOCTYPE html>
<html>
    <head>
        <title>Create password</title>
    </head>
    <body>
        <div>
            <form action='/createuserPassword' method='post'>
                <input type='text' name='userId' placeholder='enter yout email' value="<%= userId %>">  
        <h4>Enter your Password:</h4>
        <input type='password' name='newPassword'  placeholder='Enter your password'>

        <h4>Enter your Password again:</h4>
        <input type='password' name='verifyPassword' placeholder='ReEnter your password'><br>
        <input type='submit' name='submit'>
        
       </form> 
       </div>
    </body>
</html>
