<!DOCTYPE html>
<html>
    <head>
        <title>reset-password</title>
    </head>
    <body>
        <div style="height:500px;width:1350px;background-color:black;color:white;text-align:center ;">
            <form action='/resetPassword' method='post'>
        <h1 style="text-align:center;"><b>Reset your Password . . .</b></h1>
        <h2>E-mail:</h2>
        <input type ="email" name="email" placeholder='enter your email'>
        <input type='submit' value='submit'>
        </form>
        </div>
    </body>
</html>
