<!DOCTYPE html>
<html>
    <head>
        <title>successfull !</title>
    </head>
    <body>
        <h1 style="text-align:center;"><b>Successfully Logged In</b></h1>
        <%- message %>
    </body>
</html>
